# General
.DS_Store
*.log
.env
dist/
build/
coverage/

# Backend
/backend/bin/
/backend/tmp/
/backend/.cache/
/backend/coverage/

# Go
/backend/.gocache/
/backend/.gotools/

# Frontend
/web/node_modules/
/web/.svelte-kit/
/web/build/

# Editor
.idea/
.vscode/
